<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Campeonato Brasileiro</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div id="app" class="container">
        <titulo></titulo>
        <br>
        <div class="row offset-3 col-md-4">
            <button class="btn btn-info" @click="createGame">Criar partida</button>
        </div>
        <br><br>
        <!-- v-if destroy on else; v-show display none on else-->
        <div class="col-md-12" v-if="mode!='score'">
            <div class="row">
                <div class="col-md-5 row">
                    <div class="col-md-3">
                        <img :src="newGame.team1.team? newGame.team1.team.escudo : ''" height="100" alt="">
                    </div>
                    <div class="col-md-6  offset-1">
                        <h3>{{newGame.team1.team ? newGame.team1.team.name : ''}}</h3>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" type="number" v-model="newGame.team1.goals">
                    </div>
                </div>
                <div class="col-md-1 text-center">
                    <h1>vs.</h1>
                </div>
                <div class="col-md-5 row">
                    <div class="col-md-2">
                        <input class="form-control" type="number" v-model="newGame.team2.goals">
                    </div>
                    <div class="col-md-6  offset-1">
                        <h3>{{newGame.team2.team ? newGame.team2.team.name : ''}}</h3>
                    </div>
                    <div class="col-md-3">
                        <img :src="newGame.team2.team? newGame.team2.team.escudo : ''" height="100" alt="">
                    </div>
                </div>
                <div class="row offset-3 col-md-4">
                    <button type="button" class="btn btn-success" @click="endGame">Fim de jogo</button>
                </div>
            </div>
        </div>
        <div class="col-md-12" v-else>
            <input class="form-control" type="text" v-model="search">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th v-for="(col, idx) in order.cols">
                            <a href="#" @click="refreshScore(idx)">{{col}}</a>
                        </th>
                        </th>
                        <th>Saldo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="team in resultSetTeams">
                        <td>
                            <team-brand :obj="team"></team-brand>
                        </td>
                        <td>{{team.points}}</td>
                        <td>{{team.gm}}</td>
                        <td>{{team.gs}}</td>
                        <!-- pipe '|' its a filter, that is used to transform data-->
                        <td>
                            <b class="text-danger">{{team | score | emphasis}}</b>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Libertadores da América (Eliminatórias)</h3>
                <ul>
                    <li v-for="team in top4">
                        <team-brand :obj="team"></team-brand>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Libertadores da América (Grupos)</h3>
                <ul>
                    <li v-for="team in top6">
                        <team-brand :obj="team"></team-brand>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Times Rebaixados</h3>
                <ul>
                    <li v-for="team in last4">
                        <team-brand :obj="team"></team-brand>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="team.js"></script>
<script src="script.js"></script>

</html>